
<h2>Employee panel</h2>
<h3>What dou you want to do?</h3>
<div>
    <a class="btn btn-outline-dark" asp-controller="Artist" asp-action="Index">Manage Artists</a>
    <a class="btn btn-outline-info" asp-controller="Product" asp-action="Index">Manage Products</a>
    <a class="btn btn-outline-success" asp-controller="Employee" asp-action="ManageStorage">Manage Storage</a>
</div>