
<h2>Admin panel</h2>
<h3>What dou you want to do?</h3>
<div>
    <a class="btn btn-danger" asp-controller="Admin" asp-action="RegisterOwner">Register Owner</a>
    <a class="btn btn-outline-dark" asp-controller="Artist" asp-action="Index">Manage Artists</a>
    <a class="btn btn-outline-info" asp-controller="Product" asp-action="Index">Manage Products</a>
    <a class="btn btn-outline-success" asp-controller="Employee" asp-action="ManageStorage">Manage Storage</a>
    <a class="btn btn-outline-warning" asp-controller="Employee" asp-action="ManageOrderStatus">Manage Orders Status</a>
</div>