@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<div class="row">
    <div class="col-md-6">
        <div class="card p-2 bg-light">
            <img src="~/images/me.jpg" class="img-fluid border-1 black" />
            <p>
                Web application created by Przemysław Skoneczny.
            </p>
        </div>
    </div>
</div>
